<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Deit Plan Generator</title>
</head>
<body>
    <%- include('./partials/nav2') %>
    <h1>hello Everyone</h1>
    <%- include('./partials/script') %>
</body>
</html>