<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Login</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="container mt-4">
            <form action="/user/signin" method="post">

                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="passwword">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <%- include('./partials/script') %>
            </form>

        </div>
</body>

</html>