<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%-include("./partials/head.ejs")%>
</head>
<body>
  <div id="main" class="bg-zinc-800 h-screen w-full p-20">
    <h1 class="text-3xl font-extrabold text-white mb-3">LOGIN</h1>
    <form action="/user/login" method="post" class="flex flex-col gap-3 border-2 w-fit p-10 rounded-lg">
      <label for="myEmail" class="text-white text-xl font-[600]">Email</label>
      <input id="myEmail" type="text" name="email" class="w-72 px-5 py-2 rounded-md outline-none">
      <label for="myPassword" class="text-white text-xl font-[600]">Password</label>
      <input id="myPassword" type="password" name="password" class="w-72 px-5 py-2 rounded-md bg-zinc-700 outline-none">
      <input type="submit" value="Login" class="px-5 py-2 bg-blue-400 w-fit rounded-lg ">
    </form>
  </div>
</body>
</html>