<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%-include("./partials/head.ejs")%>
</head>
<body>
  <main class="h-screen w-full bg-zinc-600">
    <nav class="w-full h-16 flex items-center bg-slate-700">
      <a href="/user/login" class="px-5 py-2 bg-blue-300 rounded">Login</a>
      <a href="/user/signup">Signup</a>
    </nav>
    <h1>Welcome to profile Page</h1>
  </main>
</body>
</html>